@media (min-width:768px) {
    .header {
        .nav-logo-wrapper {
            .main-logo {
                margin:1rem 0 ;
                h1 {
                    font-size: 2.5rem;

                    .rts {
                        bottom:65px;
                    }
                }
                .logo-subtitle {
                    font-size: 1.2rem;
                }  
            }


            .menu-btn {
                display: none;
            }

            .menu {
                transform: none;
                visibility: visible;
                background: none;
                position: unset;
                

                &-ul {
                    display:flex !important;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    width:
                        100%;
                        margin:0;
                }

                &-item {
                    transform: none;
                }

                
            }
        }
    }

    .hero {
        .hero-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding:4rem;       
            .hero-text {
                h1 {
                    font-size: 5rem;
                }
            }
        }
    }

    .subscription {
        .subscription-wrapper {
            
            .form {
                flex-direction: row;
                justify-content: center;
                
                input {
                    max-width:400px;
                    margin-right: 2rem;
                }
                .sign-up {
                    margin:0;
                    width:110px;
                }
            }
        }
        
    }

    .footer {
        .footer-wrapper {
            flex-direction: row;
justify-content: space-around;

.icons-connect {
    
    
    h5 {
      text-align: center;
            }
    .icons {
        flex-direction: row;
        justify-content: space-around;
        width:300px;
    }
}
p {
    margin:0;
}
           
        }
    }
}

@media (min-width:1024px) {
   .header {
    .nav-logo-wrapper {
        flex-direction: row;
        justify-content: space-around;

        .menu {
            width:60%;
            &-item {
                margin:0;
            }
        }

        .main-logo {
            margin:0;
    }
    }
   }

   .myModal {
    .modal-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        .modal-info {
        width:60%;
        margin-left: 3rem;
        }
    }

    
   }
  

    
}

@media (min-width:1200px) {
.nav-logo-wrapper,.hero,.slide,.check,.features {
    max-width:1600px;
    margin:0 auto;
}

    .hero {
        .hero-container {
              width:80%;
              margin:0 auto;
            .hero-text {
                h1 {
                    font-size: 7rem;
                }
            }
        }
    }

    
    .slide {
        .slider-wrapper {
            .item {  
                .item-image {
                    width:150px; 
            }
        }
        }
       
}

.features {
    .features-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.myModal {
    .modal-content {
        max-width:1000px;
    }
}
   
}
