@-webkit-keyframes move {
  25% {
    -webkit-transform: scale(0.8, 1.3);
            transform: scale(0.8, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.8);
            transform: scale(1.1, 0.8);
  }
  75% {
    -webkit-transform: scale(0.7, 1.2);
            transform: scale(0.7, 1.2);
  }
}

@keyframes move {
  25% {
    -webkit-transform: scale(0.8, 1.3);
            transform: scale(0.8, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.8);
            transform: scale(1.1, 0.8);
  }
  75% {
    -webkit-transform: scale(0.7, 1.2);
            transform: scale(0.7, 1.2);
  }
}

@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@-webkit-keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #2c5a97;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #2c5a97;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lg-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.lg-button-wrapper .lg-btn {
  background: #2c5a97;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lg-button-wrapper .lg-btn:hover i {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
}

.lg-button-wrapper .lg-btn .fa {
  margin-left: 0.5rem;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.lg-button-wrapper .lg-btn:hover {
  opacity: 0.8;
}

.xzoom-thumbs img {
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 1px solid #ccc;
  margin: 1rem auto 0 auto;
}

.xzoom-preview {
  -webkit-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.xzoom {
  margin: 0 auto;
}

.xzoom,
.xzoom2,
.xzoom3,
.xzoom4,
.xzoom5,
.xzoom6,
.xzoom7,
.xzoom8,
.xzoom9,
.xzoom10,
.xzoom11,
.xzoom12,
.xzoom13,
.xzoom14,
.xzoom15,
.xzoom16,
.xzoom17,
.xzoom18,
.xzoom19,
.xzoom20,
.xzoom21,
.xzoom22 {
  max-width: 100%;
  height: 300px;
}

/* The Modal (background) */
.myModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/
      opacity */
}

.myModal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  -webkit-animation: animatetop 0.45s ease-in-out;
          animation: animatetop 0.45s ease-in-out;
  width: 85%;
  position: relative;
  /* Could be more or less, depending on screen size */
  /* The Close Button */
}

.myModal .modal-content .modal-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.myModal .modal-content .modal-info .add-cart-btn {
  background-color: #2c5a97;
  padding: .5rem 2rem;
  margin: 1rem 0;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.myModal .modal-content .modal-info .add-cart-btn:hover {
  opacity: 0.8;
}

.myModal .modal-content .modal-info h1 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.myModal .modal-content .modal-info .grey {
  color: grey;
}

.myModal .modal-content .modal-info .modal-price {
  color: #2c5a97;
  margin-top: 1rem 0;
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.myModal .modal-content .modal-info .show-p {
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem;
  background: #2c5a97;
  border-radius: 5px;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.myModal .modal-content .modal-info .modal-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myModal .modal-content .modal-info .modal-price-wrapper .spinner-cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.myModal .modal-content .close {
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  color: #8f3d7c;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 13px;
  top: 5px;
}

.myModal .modal-content .close:hover {
  cursor: pointer;
  color: black;
}

/* Modal Content/Box */
.brands-slider {
  position: relative;
}

.brands-slider .owl-one {
  width: 70%;
  margin: 4rem auto;
}

.brands-slider .owl-one .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.brands-slider .owl-one .item img {
  width: 130px;
  height: 130px;
}

.slide .slider-wrapper {
  padding: 2rem;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  background: rgba(44, 90, 151, 0.1);
}

.slide .slider-wrapper .owl-carousel .owl-item,
.slide .slider-wrapper .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide .slider-wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  max-width: 350px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.slide .slider-wrapper .item-title {
  color: #ffffff;
  margin: 6rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.slide .slider-wrapper .item .price-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.slide .slider-wrapper .item .price-stock .stock {
  color: #ffffff;
  font-weight: bold;
}

.slide .slider-wrapper .item .item-image {
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  cursor: pointer;
  max-width: 70%;
  z-index: 1;
}

.slide .slider-wrapper .item .item-image:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(44, 90, 151, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .quickview {
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  color: #000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.overlay .quickview:hover {
  color: #ffffff;
  background-color: #2c5a97;
}

.overlay {
  visibility: hidden;
}

.item:hover .overlay {
  visibility: visible;
  cursor: pointer;
}

.owl-dots {
  display: none;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%, -50%);
  -moz-transform: translateY(-50%, -50%);
  -webkit-transform: translateY(-50%, -50%);
  right: 98%;
  margin-right: 1rem;
}

.fas {
  font-size: 1.5rem;
  color: #2c5a97;
}

.owl-next {
  left: 98%;
  margin-left: 1rem;
}

.b-sales-price {
  position: absolute;
  bottom: 15px;
}

.b-sales-title {
  margin: 1rem auto 1.5rem 1rem;
  color: #2c5a97;
}

.b-sales-title h2 {
  font-size: 2rem;
  font-weight: bold;
}

.cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-cart-icon {
  color: #2c5a97;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem 0;
}

.my-cart-badge {
  color: #2c5a97;
  background: #ffffff;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.modal {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

.modal .modal-title span {
  margin-right: 1rem;
  color: #8f3d7c;
}

.modal .btn {
  background: #8f3d7c;
  border: none;
}

.modal .btn-xs:hover {
  color: white;
}

.modal .btn-default,
.modal .btn-primary {
  color: white;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.modal .btn-default:hover,
.modal .btn-primary:hover {
  background-color: #2c5a97;
}

.modal td {
  color: black;
}

.modal [type="number"] {
  width: 20px;
  border: 1px solid #8f3d7c;
  border-radius: 2px;
  padding: 0 0.3rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: none;
}

a:link {
  color: black;
}

a:visited {
  color: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

span, a {
  display: inline-block;
}

.nav-logo-wrapper .menu-btn {
  position: absolute;
  position: fixed;
  z-index: 20;
  right: 35px;
  top: 25px;
  cursor: pointer;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.nav-logo-wrapper .menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.nav-logo-wrapper .menu-btn.close {
  -webkit-transform: rotate(180deg);
  transform: translate(180deg);
}

.nav-logo-wrapper .menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
}

.nav-logo-wrapper .menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.nav-logo-wrapper .menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
  -webkit-transform: rotate(-45deg) translate(6.5px, -6.5px);
  -moz-transform: rotate(-45deg) translate(6.5px, -6.5px);
  -o-transform: rotate(-45deg) translate(6.5px, -6.5px);
  -ms-transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.nav-logo-wrapper .menu {
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  top: 0;
  padding: 2rem;
  transform: translate(0, -600px);
  -webkit-transform: translate(0, -600px);
  -moz-transform: translate(0, -600px);
  -o-transform: translate(0, -600px);
  -ms-transform: translate(0, -600px);
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  z-index: 10;
}

.nav-logo-wrapper .menu.show {
  visibility: visible;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

.nav-logo-wrapper .menu-ul .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-logo-wrapper .menu-ul .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-logo-wrapper .menu-ul .menu-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-logo-wrapper .menu-ul .menu-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-logo-wrapper .menu-ul .current:visited {
  color: #9cbbe2;
}

.nav-logo-wrapper .menu-ul .menu-link {
  font-weight: bold;
  color: #2c5a97;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  font-size: 1.2rem;
  padding-bottom: .2rem;
}

.nav-logo-wrapper .menu .menu-item {
  transform: translate3d(600px, 0, 0);
  -webkit-transform: translate3d(600px, 0, 0);
  -moz-transform: translate3d(600px, 0, 0);
  -o-transform: translate3d(600px, 0, 0);
  -ms-transform: translate3d(600px, 0, 0);
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  margin-bottom: 1.3rem;
  text-align: center;
}

.nav-logo-wrapper .menu .menu-item.show {
  transform: translate(0, 0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.price {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

/* 
start navigation  
*/
.header .nav-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem;
  width: 100%;
}

.header .nav-logo-wrapper .main-logo {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header .nav-logo-wrapper .main-logo h1 {
  font-style: italic;
  font-weight: bold;
  color: #2c5a97;
  font-size: 2.3rem;
  margin-bottom: 1.8rem;
  line-height: 0.7;
  position: relative;
}

.header .nav-logo-wrapper .main-logo h1 .rts {
  font-size: 1rem;
  position: absolute;
  top: -10px;
}

.header .nav-logo-wrapper .main-logo .logo-subtitle {
  color: #2c5a97;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  font-style: italic;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 120px;
}

/* Start Hero  */
.hero {
  position: relative;
}

.hero:after, .hero:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  left: 20px;
  background: #9cbbe2;
  z-index: -1;
  opacity: 0.2;
  top: 100px;
}

.hero:before {
  width: 100px;
  height: 100px;
}

.hero .hero-container {
  padding: 2rem;
  margin: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-container .hero-text h1 {
  color: #2c5a97;
  line-height: 1.3;
  font-family: "Truculenta", sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
}

.hero .hero-container .hero-text h1 .loud {
  margin-right: .5rem;
}

.hero .hero-container .hero-text h1 .loud:hover {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

.hero .hero-container .hero-text h1 .fa-music {
  position: absolute;
  top: -12px;
  color: #2c5a97;
}

.hero .hero-container .hero-text h1 .clear {
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.hero .hero-container .hero-text h1 .clear:hover {
  color: #9cbbe2;
  -webkit-animation: move 1s ease-in-out;
          animation: move 1s ease-in-out;
  cursor: pointer;
}

.hero .hero-container .hero-text h1 .connected {
  position: relative;
  text-decoration: none;
  padding: 0.6rem;
  text-align: center;
  cursor: pointer;
}

.hero .hero-container .hero-text h1 .connected:before, .hero .hero-container .hero-text h1 .connected:after, .hero .hero-container .hero-text h1 .connected.hero:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent;
}

.hero .hero-container .hero-text h1 .connected:hover:before {
  -webkit-animation: animate 0.65s linear forwards;
          animation: animate 0.65s linear forwards;
}

.hero .hero-container .hero-text h1 .connected:hover:after, .hero .hero-container .hero-text h1 .connected.hero:hover:before {
  -webkit-animation: animate2 0.65s linear forwards;
          animation: animate2 0.65s linear forwards;
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

/* Start Check Items */
.check .check-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  position: relative;
  place-items: center;
  padding: 1rem;
  width: 80%;
  color: white;
  text-transform: uppercase;
  margin: 5rem auto;
}

.check .check-wrapper .check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check .check-wrapper .check-item p {
  line-height: 1.4;
  color: #2c5a97;
  font-weight: bold;
}

.check .check-wrapper .check-item .fas {
  color: #2c5a97;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.check .check-wrapper:after, .check .check-wrapper.hero:before {
  content: "";
  border-bottom: 1px solid #2c5a97;
  position: absolute;
  bottom: 0;
}

.check .check-wrapper:after, .check .check-wrapper.hero:before {
  content: "";
  width: 100%;
  border-top: 1px solid #2c5a97;
  position: absolute;
  top: 0;
}

/* Start Features */
.features .features-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
  width: 80%;
  color: white;
  margin: 5rem auto;
}

.features .features-wrapper .f-box {
  background-color: #2c5a97;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.3;
  font-size: 1.2rem;
  border-radius: 5px;
}

.features .features-wrapper .f-box .box-text h3 {
  margin-bottom: 1rem;
  color: #2c5a97;
  font-weight: bold;
}

.features .features-wrapper .f-box .svg-style {
  width: 70px;
}

/* Start Subscription Field */
.subscription {
  margin: 5rem auto;
}

.subscription .subscription-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription .subscription-wrapper h3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.subscription .subscription-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  width: 90%;
}

.subscription .subscription-wrapper .form input {
  font-size: 1rem;
  padding: 0.7rem;
  width: 90%;
}

.subscription .sign-up {
  border-radius: 5px;
  background-color: #2c5a97;
  color: #ffffff;
  padding: 0.5rem 0;
  width: 90%;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.subscription .sign-up:hover {
  opacity: 0.9;
}

.footer {
  margin-top: auto;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2c5a97;
  padding: 1.5rem;
}

.footer .footer-wrapper h5, .footer .footer-wrapper p {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer .footer-wrapper .icons {
  font-size: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.footer .footer-wrapper .icons h5 {
  font-size: 1.2rem;
  color: #ffffff;
}

.footer .footer-wrapper .icons .fab {
  color: #ffffff;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.footer .footer-wrapper .icons .fab:hover {
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  color: #9cbbe2;
}

@media (min-width: 768px) {
  .header .nav-logo-wrapper .main-logo {
    margin: 1rem 0;
  }
  .header .nav-logo-wrapper .main-logo h1 {
    font-size: 2.5rem;
  }
  .header .nav-logo-wrapper .main-logo h1 .rts {
    bottom: 65px;
  }
  .header .nav-logo-wrapper .main-logo .logo-subtitle {
    font-size: 1.2rem;
  }
  .header .nav-logo-wrapper .menu-btn {
    display: none;
  }
  .header .nav-logo-wrapper .menu {
    -webkit-transform: none;
            transform: none;
    visibility: visible;
    background: none;
    position: unset;
  }
  .header .nav-logo-wrapper .menu-ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
  }
  .header .nav-logo-wrapper .menu-item {
    -webkit-transform: none;
            transform: none;
  }
  .hero .hero-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 5rem;
  }
  .subscription .subscription-wrapper .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscription .subscription-wrapper .form input {
    max-width: 400px;
    margin-right: 2rem;
  }
  .subscription .subscription-wrapper .form .sign-up {
    margin: 0;
    width: 110px;
  }
  .footer .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .footer-wrapper .icons-connect h5 {
    text-align: center;
  }
  .footer .footer-wrapper .icons-connect .icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 300px;
  }
  .footer .footer-wrapper p {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .header .nav-logo-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .nav-logo-wrapper .menu {
    width: 60%;
  }
  .header .nav-logo-wrapper .menu-item {
    margin: 0;
  }
  .header .nav-logo-wrapper .main-logo {
    margin: 0;
  }
  .myModal .modal-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .myModal .modal-content .modal-info {
    width: 60%;
    margin-left: 3rem;
  }
}

@media (min-width: 1200px) {
  .nav-logo-wrapper, .hero, .slide, .check, .features {
    max-width: 1600px;
    margin: 0 auto;
  }
  .hero .hero-container {
    width: 80%;
    margin: 0 auto;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 7rem;
  }
  .slide .slider-wrapper .item .item-image {
    width: 150px;
  }
  .features .features-wrapper {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .myModal .modal-content {
    max-width: 1000px;
  }
}
/*# sourceMappingURL=main.css.map */