@-webkit-keyframes move {
  25% {
    -webkit-transform: scale(0.8, 1.3);
            transform: scale(0.8, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.8);
            transform: scale(1.1, 0.8);
  }
  75% {
    -webkit-transform: scale(0.7, 1.2);
            transform: scale(0.7, 1.2);
  }
}

@keyframes move {
  25% {
    -webkit-transform: scale(0.8, 1.3);
            transform: scale(0.8, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.8);
            transform: scale(1.1, 0.8);
  }
  75% {
    -webkit-transform: scale(0.7, 1.2);
            transform: scale(0.7, 1.2);
  }
}

@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #2c5a97;
    border-right-color: #2c5a97;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@-webkit-keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #2c5a97;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #2c5a97;
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #2c5a97;
    border-left-color: #2c5a97;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lg-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.lg-button-wrapper .lg-btn {
  background: #2c5a97;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lg-button-wrapper .lg-btn:hover i {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
}

.lg-button-wrapper .lg-btn .fa {
  margin-left: 0.5rem;
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
}

.lg-button-wrapper .lg-btn:hover {
  opacity: 0.8;
}

.products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 3rem;
  padding: 3rem;
}

.products-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.products-container .item-title {
  color: white;
  margin: 4rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.products-container .item .price-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  position: absolute;
  bottom: 15px;
}

.products-container .item .price-stock .stock {
  color: #ffffff;
  font-weight: bold;
}

.products-container .item-image {
  transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  cursor: pointer;
  max-width: 60%;
}

.products-container .item-image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.subscription-wrapper .sign-up {
  background-color: rgba(0, 0, 0, 0.9);
}

.subscription-wrapper .sign-up:hover {
  background-color: rgba(44, 90, 151, 0.3);
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  border-radius: 5px;
  height: 100%;
  background-color: rgba(44, 90, 151, 0.1);
  visibility: hidden;
}

.overlay .quickview {
  position: absolute;
  bottom: 15%;
}

.item:hover .overlay {
  visibility: visible;
  cursor: pointer;
}
/*# sourceMappingURL=products.css.map */