@import "config";


.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  grid-gap: 3rem;
  padding: 3rem;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background:$lightBlack;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    &-title {
      color: $myColor;
      margin: 4rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }

    .price-stock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      position: absolute;
      bottom: 15px;

      .stock {
        color: $white;
        font-weight: bold;
      }
    }

    &-image {
      @include easeOut;
      cursor: pointer;
      max-width: 60%;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

.subscription-wrapper {
  .sign-up {
    background-color: $products_bg;
    &:hover {
      background-color: $hover;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  border-radius: 5px;
  height: 100%;
  background-color: $lightBlueBg;
  visibility: hidden;

  .quickview {
    position:absolute;
   bottom:15%;
  }
}


.item:hover .overlay {
  visibility: visible;
  cursor: pointer;
}



